<html>
    <head>
        <title>Profile</title>
    </head>

    <body style="text-align:center;color:black;text-size:50px;background-color:white">
        <p>this is gonna be your profile in someday
        {{ userprofile.username }} </p><br>
    </body>
</html>