
<div style="color:red; text-align:center;" class="jumbotron">
        <h1>Our missions</h1>
        <h3>Helping people discover great places around them.</h3>
       <h4> Our team gathers information from every restaurant on a regular basis to ensure our data is fresh. Our vast community of food lovers share their reviews and photos, so you have all that you need to make an informed choice.</h4>
        
        <h3>Building amazing experiences around dining.</h3>
           <h4> Starting with information for over 1 million restaurants (and counting) globally, we're making dining smoother and more enjoyable with services like online ordering and table reservations.</h4><br>

       
        <h3>Enabling restaurants to create amazing experiences.</h3>
           <h4> With dedicated engagement and management tools, we're enabling restaurants to spend more time focusing on food itself, which translates directly to better dining experiences.</h4> <br>
        <br><br><br><br><br><br><br><br><br><br>
        </div>
    