<h1 style="text-align:center; color:white">Contact Us</h1>


<div class="container">
<div class="logs2">
  <br>
  <form method="post" action="/contact">
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Name</h4></label>
    <input type="text" class="form-control" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp; Email </h4></label>
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Phone</h4></label>
    <input type="text" class="form-control" name="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Country</h4></label>
    <input type="text" class="form-control" name="country" placeholder="Country">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Message</h4></label>
    <textarea type="text-area" class="form-control" name="message" placeholder="Your Text"></textarea>
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-default" style="color:orangered">Submit</button>

</form>

<br><br><br>
</div>
</div>
<br><br><br><br><br><br>


  <!--<div class="container" style="background-color:aliceblue">
     <div class="inner">
        <div class="row">
             <div class="col-md-7 dim">
             <h2>Contact Pepper</h2>
             <p>
             We are always happy to hear from our clients and visitors, you may contact us anytime             </p>
             
             <p></p>
                          
           </div>   
           <div class="col-md-7 border">
           
             <form id="forms" onsubmit="return false;">   
             <input type="hidden" value="contacUsSubmit" name="action" id="action" />             <input type="hidden" value="store" name="currentController" id="currentController" />             <input type="hidden" value="6d329aa00724372bd69f292f6677acd18e7c3f42" name="YII_CSRF_TOKEN" id="YII_CSRF_TOKEN" />                                       			 			 			
			              <div class="row top10">
             <div class="col-md-12">
               <input placeholder="Name"  data-validation="required" type="text" value="" name="name" id="name" />             </div>
             </div>
                          
                          			 			 			
			              <div class="row top10">
             <div class="col-md-12">
               <input placeholder="Email address"  data-validation="email" type="text" value="" name="email" id="email" />             </div>
             </div>
                          
                          			 			 			
			              <div class="row top10">
             <div class="col-md-12">
               <input placeholder="Phone"  data-validation="required" type="text" value="" name="phone" id="phone" />             </div>
             </div>
                          
                          			 			 			
			              <div class="row top10">
             <div class="col-md-12">
               <input placeholder="Country" data-validation="required" type="text" value="" name="country" id="country" />             </div>
             </div>
                          
                          			 			 			
			              <div class="row top10">
             <div class="col-md-12">
               <textarea placeholder="Message" name="message" id="message"></textarea>             </div>
             </div>
                          
                          
             <div class="row top10">
             <div class="col-md-12 text-center">
                <input type="submit" value="Submit" class="orange-button medium inline rounded">
             </div>
             </div>
                          </form>
             
             
           </div> col-->
       <!-- </div>  --> <!--row-->  
    <!-- </div>   --->  <!--inner-->
<!--</div> -->




<!--footer-->
 <footer>
            <input type="hidden" value="subscribeNewsletter" name="action" id="action" /><div class="sections section-subcribe">
                <div >
                    <h2 style="color: floralwhite">Subscribe to our newsletter</h2>
                    <div class="subscribe-footer">
                        <div  style="width: 1100px" >
                           <div class="col-md-2">
                             <input placeholder="E-mail" required="required" class="email" type="text" value="" name="subscriber_email" id="subscriber_email" style="width: 200px"/>             </div>
                           <div class="col-md-2">
                             <button style="background-color: rgb(4, 80, 4); text-color:white">
                              Subscribe               </button>               
                           </div>
                        </div>
                    </div>
                </div>
                
              
            <img src="/images/divider.png" style="width: 1300px" class="footer-divider">
                
              </div> 
        
        
        
        
          <div  style="color: floralwhite" >
          <div class="row">
            <div class="col-md-3 ">
            <p>AB-123 Budster 131311<br/>Call Us +91-9999999999 <br/>info@pepper.com</p>         
           <select class="language-options selectpicker" title="Select language" name="language-options" id="language-options">
        <option value="/setlanguage?lang=en"style="text-color: black">en</option>
        </select>         
            </div>
            
            
            <div style="color: floralwhite; list-style: none;"class="col-md-3">
                         <h4>Menu</h4>
             
                                    <li>
                <a 
                  href="page-about-us.html"  target="_blank"  >
                 About Us</a>
              </li>
                         <li>
                <a 
                  href="page-term-and-condition.html"  target="_blank"  >
                 Term And Condition</a>
              </li>
                         <li>
                <a 
                  href="page-privacy-policy.html"  target="_blank"  >
                 Privacy Policy</a>
              </li>
                         <li>
                <a 
                  href="page-vendor-terms-and-condition.html"  target="_blank"  >
                 Vendor Terms and Condition</a>
              </li>
                                    
                       </div> <!--col-->
                     
            <div class="col-md-3" style=" list-style: none;">
                     <h4>Others</h4>
            
                                    <li>
                <a 
                  href="http://wahzaika.com/partner.apk"  >
                 Partner Application</a>
              </li>
                         <li>
                <a 
                  href="page-refund-policy.html"  target="_blank"  >
                 Refund Policy</a>
              </li>
                         <li>
                <a 
                  href="page-wahzaika-news.html"  target="_blank"  >
                 Career @ Pepper</a>
              </li>
                         <li>
                <a 
                  href="page-wahzaika-news1.html"  target="_blank"  >
                 Pepper News</a>
              </li>
                         <li>
                <a 
                  href="page-wahzaika-voucher.html"  target="_blank"  >
                 Pepper Voucher</a>
              </li>
            </div> 
        
            <div class="col-md-3" style="text-align: center;">     
                <h4 style="color: white">
                support us</h4>
                     <ul style=" list-style: none;">
                  <li ><a href="#" class="footer_facebook">Facebook</a></li>
                  <li><a href="#" class="footer_twitter">Twitter</a></li>
                  <li><a href="#" class="footer_googleplus">Google+</a></li>
                  <li><a href="#" class="footer_rss">RSS</a></li>
                </ul>
                        </div>
            </div>    
            </div>                
        </footer>
    