
<head>
 <title>profile</title>
</head>
<form action="/imagefile/pi" method="POST" enctype="multipart/form-data">
 <input type="file" name="myimage" ></input>
 <input type="submit" name="submit" value="submit">/input>
</form>
