
<head>
 <title>profile</title>
</head>
<center style="color:white; font-size:20px;">
<form action="/imagefile/pi" method="POST" enctype="multipart/form-data">
 <input type="file" name="myimage" ></input>
 <br><br>
 <input type="submit"  style="color:black;" name="submit" value="submit"></input>
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</center>
