
<head>
 <title>profile</title>
 
</head>
<div class="prof">
<form action="/imagefile/pi" method="POST" enctype="multipart/form-data">
 <div class="profb">
<input type="file" name="myimage" ></input>
 <br><br>
 <input type="submit"  style="color:black;" name="submit" value="submit"></input>
</div>
</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>