<div class="page-header" style="color:white">
  <ul class="col-md-3" style="list-style:none">
<b><li role="presentation"><a href="/" style="color:white; font-size:20px;">      HOME</a></li></b></ul>
 <ul class="col-md-3"  style="list-style:none">
<b><li role="presentation"><a href="/employees" style="color:white; font-size:20px;">RESTURANT SIGNUP</a></li></b></ul>
<ul  class="col-md-3" style="list-style:none"><b><li role="presentation"><a href="/contact" style="color:white; font-size:20px;">CONTACT US</a></li></b></ul>
<ul   style="list-style:none"><b><li role="presentation"><a href="/employees" style="color:white; font-size:20px;">Cart</a></li></b></ul>
 </div>

 <!--<ul  class="page-header" style="color:white">
<li><a href="index.html">Home</a></li>
<li><a href="merchantsignupselection.html">Restaurant Signup</a></li>
<li><a href="contact.html">Contact</a></li>
</ul> -->




<div class="sections section-how-it-works">
<div style="background-color:white">
 <h2 style="text-align:center">How it works</h2>
 <p style="text-align:center">Get your favourite food in 4 simple steps</p>
 
 <div class="row">
   <div class="col-md-3 col-sm-3 center">
      <div class="steps step1-icon">
        <img src="/images/step1.png">
      </div>
      <h3>Search</h3>
      <p>Find all restaurants available near you</p>
   </div>
   <div class="col-md-3 col-sm-3 center">
      <div class="steps step2-icon">
         <img src="/images/step2.png">
      </div>
      <h3>Choose</h3>
      <p>Browse hundreds of menus to find the food you like</p>
   </div>
   <div class="col-md-3 col-sm-3  center">
      <div class="steps step2-icon">
        <img src="/images/step3.png">
      </div>
      <h3>Pay</h3>
      <p>It's quick, secure and easy</p>
   </div>
   <div class="col-md-3 col-sm-3  center">
     <div class="steps step2-icon">
       <img src="/images/step4.png">
     </div>
      <h3>Enjoy</h3>
      <p>Food is prepared & delivered to your door</p>
   </div>   
 </div>

 </div> <!--container-->
</div> <!--section-how-it-works-->








  
    
    <footer>
            <input type="hidden" value="subscribeNewsletter" name="action" id="action" /><div class="sections section-subcribe">
                <div >
                    <h2 style="color: floralwhite">Subscribe to our newsletter</h2>
                    <div class="subscribe-footer">
                        <div  style="width: 1100px" >
                           <div class="col-md-2">
                             <input placeholder="E-mail" required="required" class="email" type="text" value="" name="subscriber_email" id="subscriber_email" style="width: 200px"/>             </div>
                           <div class="col-md-2">
                             <button style="background-color: rgb(4, 80, 4); text-color:white">
                              Subscribe               </button>               
                           </div>
                        </div>
                    </div>
                </div>
                
              
            <img src="/images/divider.png" style="width: 1300px" class="footer-divider">
                
              </div> 
        
        
        
        
          <div  style="color: floralwhite" >
          <div class="row">
            <div class="col-md-3 ">
            <p>AB-123 Budster 131311<br/>Call Us +91-9999999999 <br/>info@pepper.com</p>         
           <select class="language-options selectpicker" title="Select language" name="language-options" id="language-options">
        <option value="/setlanguage?lang=en"style="text-color: black">en</option>
        </select>         
            </div>
            
            
            <div style="color: floralwhite; list-style: none;"class="col-md-3">
                         <h4>Menu</h4>
             
                                    <li>
                <a 
                  href="/users/aboutus"  target="_blank"  >
                 About Us</a>
              </li>
                         <li>
                <a 
                  href="/users/t&c"  target="_blank"  >
                 Term And Condition</a>
              </li>
                         <li>
                <a 
                  href="/users/pp"  target="_blank"  >
                 Privacy Policy</a>
              </li>
                                    
                       </div> <!--col-->
                     
            <div class="col-md-3" style=" list-style: none;">
                     <h4>Others</h4>
            
                                    <li>
                <a 
                  href="https://www.pepper.in/application"  >
                 Partner Application</a>
              </li>
                         <li>
                <a 
                  href="page-refund-policy.html"  target="_blank"  >
                 Refund Policy</a>
              </li>
                         <li>
                <a 
                  href="https://www.linkedin.com"  target="_blank"  >
                 Career @ Pepper</a>
              </li>
                         <li>
                <a 
                  href="https://www.peppernews.in"  target="_blank"  >
                 Pepper News</a>
              </li>
                         <li>
                <a 
                  href="https://www.coupondunia.in"  target="_blank"  >
                 Pepper Voucher</a>
              </li>
            </div> 
        
            <div class="col-md-3" style="text-align: center;">     
                <h4 style="color: white">
                support us</h4>
                     <ul style=" list-style: none;">
                  <li ><a href="https://www.facebook.com" class="footer_facebook">Facebook</a></li>
                  <li><a href="https://www.twitter.com" class="footer_twitter">Twitter</a></li>
                  <li><a href="https://plus.google.com/discover" class="footer_googleplus">Google+</a></li>
                  <li><a href="https://www.rss.com" class="footer_rss">RSS</a></li>
                </ul>
                        </div>
            </div>    
            </div>                
        </footer>
    
    
    
  