<center style=" color: white"><h1>ITALIAN CUISINES</h1>
<h4> we are providing Italian food from high quality, trusted, rated restaurant, You have to just enter the name of the dish
    you want to order and rest of your details and Voila! food arrives at your home hot and delicious.
</h4>
</center>

<div class="container">
<div class="logs2">
  <br>
  <form method="post" action="/order/italian">
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Name</h4></label>
    <input type="text" class="form-control" name="name" placeholder="name">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp; Email </h4></label>
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Phone</h4></label>
    <input type="text" class="form-control" name="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Dish name</h4></label>
    <input type="text-area" class="form-control" name="dish" placeholder="Your dish">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Address</h4></label>
    <textarea type="text-area" class="form-control" name="add" placeholder="Your Address"></textarea>
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-default" style="color:orangered">Submit</button>

</form>

<br><br><br>
</div>
</div>

<br><br><br><br>