<center style="color:white; border: dotted 5px black; background-color:rgb(243, 83, 83);">
    <h1> WELCOME TO OUR ORDER NOW SECTION, HERE YOU CAN ORDER YOUR FOOD </h1>
<br>
<h3><u>Choose your category</u></h3>
<br>
</center>
<br>
<div style="background-color:rgb(240, 134, 93)">
<div style="border: 5px solid black;"><h2><center style="color:white">INDIAN</center></h2>
<center><a href="/order/indian"><img style=" height:200px; width:300px;" src="/images/indian.jpg"></a>
<h4>Experience the mouth-watering flavour of Indian cuisines right away from our website.</h4></center>
</div>
<br>
<div style="border: 5px solid black;">
     <h2><center style="color:white">AMERICAN</center></h2>
<center><a href="/order/american"><img style=" height:200px; width:300px;" src="/images/american.jpg"></a>
<h4>Think outside the bun! enjoy delicious American food</h4></center>
</div>
<br>

<div style="border: 5px solid black;">
     <h2><center style="color:white">CHINESE</center></h2>
<center><a href="/order/chinese"><img style=" height:200px; width:300px;" src="/images/chinese.jpg"></a>
<h4>Let the finger-licking flavour from Hong-kong satisfy your hunger</h4></center>
</div>
<br>

<div style="border: 5px solid black;">
     <h2><center style="color:white">ITALIAN</center></h2>
   <center> <a href="/order/italian"><img style=" height:200px; width:300px;" src="/images/italian.jpg"></a>
<h4>L’appetito vien mangiando, We brought you exciting range of Italian cuisines</h4></center>
</div>
<br>
<div style="background-color: black; color:white;">
      <br>
      <h4>Copyright Pepper, An ISO certified company</h4>
<br>
    </div>
</div>
