
    
     <div class="jumbotron" style="color:red;">
           <h1 class="display-3">PRIVACY POLICY</h1>
 
      <p>Pepper Media Private Limited and/or its affiliates ("Pepper," the "Company," "we," "us," and "our,") respect your privacy and is committed to protecting it through its compliance with its privacy policies. This policy describes:</p>

         <p>the types of information that Pepper may collect from you when you access or use its websites, applications and other online services (collectively, referred as "Services"); and its practices for collecting, using, maintaining, protecting and disclosing that information.</p>

         <p>This policy applies only to the information Pepper collects through its Services, in email, text and other electronic communications sent through or in connection with its Services.</p>

         <p>This policy DOES NOT apply to information that you provide to, or that is collected by, any third-party, such as restaurants at which you make reservations and/or pay through Pepper's Services and social networks that you use in connection with its Services. Pepper encourages you to consult directly with such third-parties about their privacy practices.</p>

         <p>Please read this policy carefully to understand Pepper's policies and practices regarding your information and how Pepper will treat it. By accessing or using its Services and/or registering for an account with pepper, you agree to this privacy policy and you are consenting to Pepper's collection, use, disclosure, retention, and protection of your personal information as described here. If you do not provide the information Pepper requires, Pepper may not be able to provide all of its Services to you.</p>

         <p>If you reside in a country within the European Union/European Economic Area (EAA), Pepper Media Pepper, Unipessoal LDA , located at Avenida 24 de Julho, N 102-E, 1200-870, Lisboa, Portugal, will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services;</p>

         <p>If you reside in United States of America, Pepper USA LLC, located at 601 S. Cedar Street, Suite 111, Charlotte, NC 28202 will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services;</p>

         <p>If you reside in any other part of the world, Pepper Media Private Limited, located at 22nd Floor, One Horizon Centre, Golf Course Road, Gurgaon, Haryana, India -122003 will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services.</p>

         <p>Your data controller is responsible for the collection, use, disclosure, retention, and protection of your personal information in accordance with its privacy standards as well as any applicable national laws. Your data controller may transfer data to other members of Pepper as described in this Privacy Policy. Pepper may process and retain your personal information on its servers in India where its data centers are located, and/or on the servers of its third parties (in or outside India), having contractual relationships with Pepper.</p>

         <p>This policy may change from time to time, your continued use of Pepper's Services after it makes any change is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>
  
          </div>
    
    
    
    