<h1 style="color:white" text-align="center">Restaurant</h1>


<div class="container">
<div class="r1">
  <br>
  <form method="post" action="/users/resturant">
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Name</h4></label>
    <input type="text" class="form-control" name="name" placeholder="Your resturant's name">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp; Email </h4></label>
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Phone</h4></label>
    <input type="text" class="form-control" name="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Country</h4></label>
    <input type="text" class="form-control" name="country" placeholder="Country">
  </div>
  <div class="form-group">
    <label><h4 style="color:white"> &nbsp;Message</h4></label>
    <textarea type="text-area" class="form-control" name="type" placeholder="Your resturant's type"></textarea>
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-default" style="color:orangered">Submit</button>

</form>

<br><br><br>
</div>
</div>
<br><br><br><br><br><br>

