<center style="color:white; border: dotted 5px black; background-color:rgb(243, 83, 83);">
    <h1> WELCOME TO OUR ORDER NOW SECTION, HERE YOU CAN ORDER YOUR FOOD </h1>
<br>
<h3><u>Choose your category</u></h3>
<br>
</center>
<ul style="none">

<li>
    <h2><center style="color:white">INDIAN</center></h2>
<center><a href="/order/indian"><img style=" height:200px; width:300px;" src="/images/indian.jpg"></a></center>
</li>
<br>
<li>
     <h2><center style="color:white">AMERICAN</center></h2>
<center><a href="/order/american"><img style=" height:200px; width:300px;" src="/images/american.jpg"></a></center>
</li>
<br>
<li>
     <h2><center style="color:white">CHINESE</center></h2>
<center><a href="/order/chinese"><img style=" height:200px; width:300px;" src="/images/chinese.jpg"></a></center>
</li>
<br>
<li>
     <h2><center style="color:white">ITALIAN</center></h2>
   <center> <a href="/order/italian"><img style=" height:200px; width:300px;" src="/images/italian.jpg"></a></center>
</li>
</ul>
